
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >Mes achats</h3>
		<h4><a href="#home">Accueil</a><label>/</label>mes achats</h4>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- contact -->
<div class="check-out">	 
	<div class="container">	 
		<div class="spec ">
			<h3>Mes achats</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		</div>
		<center ng-if="cartIsEmpty">
			<div class="alert col-md-offset-2 col-md-8 alert-danger" >
				
				<strong>Aucun achat effectué !</strong> 
					
			</div>
			<div class="col-md-12">
					<br/><i  class="fa fa-shopping-cart fa-5x"> </i> <br/><br/><br/>
			</div>
			<div class="col-md-offset-2 col-md-8">
				<a href="#home" class="btn btncart btn-info " style="width: 100%;">Continuer mes achats</a>
			</div>
		</center>
	   <div ng-if="!cartIsEmpty">
		<div ng-repeat="member in setting.panier">
			<div class="row" style="border: 1px solid #DADADA; padding:10px; margin:10px 5px 10px 5px">
				<div class="row">
					<div class="col-xs-10">
						<a href="#product/{{ member.id }}" class="at-in">
							<img src="{{ member.image }}" class="" style="width:100%; max-width:100px" alt="">
						</a>
						<div class="sed">
							<h5>{{ member.name }}</h5>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-xs-2" > 
						<a href="" ng-click="delete(member.id)">
							<i class="fa fa-trash fa-2x pull-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="row" style="padding:20px 5px 10px 5px">
					<div class="col-xs-4"><h5>Prix Unitaire</h5>{{ member.price }} F</div>
					<div class="col-xs-4" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;">
						<div class=""> 
							<h5>Quantité</h5>
							<div class="quantity-select">            
								<div class="entry value"><span class="span-1">{{ member.quantity }}</span></div>									
								<div class="entry value-minus" ng-click="valueMinus(member.id, member.quantity)">&nbsp;</div>
								<div class="entry value-plus active" ng-click="valuePlus(member.id, member.quantity)">&nbsp;</div>
							</div>
						</div>

					</div>

					<div class="col-xs-4"><h5>Prix Total</h5> {{ member.quantity *  member.price}} F </div>
				</div>

			</div>	
		</div>

		<table class="table"> <!-- Pied de tableau -->
			<tr class="cross" style="background: #FAB005;">
				<td class="ring-in t-data" colspan="3">
					
					<div class="sed">
						<h1>TOTAL</h1>
					</div>
				</td>
				<td class="t-data"><h4>{{ setting.prixTotal }} F</h4></td>
				
			</tr>   
		</table>
		<div>
			<a href="#home" class="btn btncart btn-info pull-left" >Continuer mes achats</a>
			<a href="#order" class="btn btncart btn-success pull-right" ng-if="setting.prixTotal">Commander</a>
		</div>
	</div>
	</div>
</div>
		 				
