
<!-- Carousel
================================================== -->
<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
	<div class="item active">
	 <a href=""> <img class="first-slide" ng-src="images/loading.gif"  imageonload="images/ba.jpg"  alt="First slide"></a>
   
	</div>
	<div class="item">
	 <a href=""> <img class="second-slide " ng-src="images/loading.gif"  imageonload="images/ba1.jpg"  alt="Second slide"></a>
	 
	</div>
	<div class="item">
	  <a href=""><img class="third-slide " ng-src="images/loading.gif"  imageonload="images/ba2.jpg"  alt="Third slide"></a>
	  
	</div>
  </div>

</div><!-- /.carousel -->
</center>
<div class="product" >
	<div class="container" >
		
		<div class="spec ">
			<h3>Produits</h3>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		</div>

		<div class=" con-w3l" ng-repeat="member in produit" infinite-scroll="voirPlus()" infinite-scroll-disabled='setting.refresh' infinite-scroll-distance="10">
			
			<div class="col-md-4 pro-1">
				<div class="col-m">
					<!-- <a href="#product" data-toggle="modal" data-target="#myModal17" class="offer-img"> -->
					<a href="#product/{{ member.id }}"  class="offer-img">
						<img   ng-src="images/loading.gif"  imageonload="{{ member.image }}" class="img-responsive" alt="" >
					</a>
					<div class="mid-1">
						<div class="women">
							<h6><a href="#product/{{ member.id }}">{{ member.name|limitTo: 20 }}{{member.name.length > 20 ? '...' : ''}}</a> (Kg)</h6>							
						</div>
						<div class="mid-2">
							<p ><label>{{ member.price }} F</label><em class="item_price">{{ member.price - 500 }} F</em></p>
							  <div class="block">
								<div class="starbox small ghosting"> </div>
							</div>
							<div class="clearfix"></div>
						</div>
							<div class="add add-2">
						   <button ng-click="buyProduct( member.id ,  member.name, member.summary, member.price, 1, member.image )" class="btn btn-danger my-cart-btn my-cart-b" data-id="{{ member.id }}" data-name="{{ member.name }} (Kg)" data-summary="summary 1" data-price="2500" data-quantity="1" data-image="images/of16.png">Acheter</button>
						</div>
					</div>
				</div>
			</div>
					
		</div>
		
	</div>
	<div class="container">
		<div class="spec col-md-12" style="margin-top:20px">
			<h3>
			<button ng-click="clickBouttonVoirPlus()" ng-if="!setting.refresh" class="btn btn-danger my-cart-btn my-cart-b" >Charger plus </button><br/>
			<!-- <span ng-if="setting.refresh"><i class="fa fa-cog fa-spin fa-lg fa-fw"></i></span> -->
			<p ng-if="setting.refresh" ><img src="images/ajax-loader.gif"><br/> Chargement...</p>
			</h3>
			<!-- <div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div> -->
		</div>
	</div>
</div>
	
<!--- start-rate---->

	<script type="text/javascript">
		
		jQuery('.starbox').each(function() {
			var starbox = jQuery(this);
				starbox.starbox({
				average: starbox.attr('data-start-value'),
				changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
				ghosting: starbox.hasClass('ghosting'),
				autoUpdateAverage: starbox.hasClass('autoupdate'),
				buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
				stars: starbox.attr('data-star-count') || 5
				}).bind('starbox-value-changed', function(event, value) {
				if(starbox.hasClass('random')) {
				var val = Math.random();
				starbox.next().text(' '+val);
				return val;
				} 
			})
		});
	
	</script>
	
<!---//End-rate---->