<div class="banner-top">
	<div class="container">
		<h3 >Connexion</h3>
		<h4><a href="#home">Accueil</a><label>/</label>Connexion</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<!--login-->

	<div class="login">
	
		<div class="main-agileits">
				<div class="form-w3agile">
					<h3>Connexion</h3>
					<form >
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input  ng-model='user.email' type="text" value="Email" name="Email"  required="">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input ng-model='user.password' type="password" value="Password" name="Password"   required="">
							<div class="clearfix"></div>
						</div>
						<input ng-click="submitform()" type="button" value="Connexion">
					</form>
				</div>
				<div class="forg">
					<a href="#" class="forg-left">Mot de passe oublié</a>
					<a href="#singup" class="forg-right">Inscription</a>
				<div class="clearfix"></div>
				</div>
		</div>
	</div>